


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sidebar {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 200px;
  left: 8%;
  overflow-x: hidden;
  padding-top: 20px;
  width: 27%;
}

.filter_div{
 
  aspect-ratio: 1/3;
  padding: 2% 0;
  margin: auto;
  /* padding-right: 12%; */
  /* margin-right: 15%; */
  border: 1px solid rgb(180, 178, 178) 2px;
  overflow-x: hidden;
  width: 100%;
  scroll-snap-type: y mandatory;

   
}
.property_div{
  
  font-size: 28px; 

  box-shadow:5px salmon;
}
.headding_f{
  /* text-align: center; */
  /* border-bottom: 3px solid #3ea025 ; */
 
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
  position: fixed;
  width: 26%;
  z-index: 999;
  left: 9%;
  overflow: hidden;
}

@media (max-width:768px) {
      
        .sidebar {
          height: 100%;
          position: sticky;
          z-index: 1;
          top: 200px;
          left: 10px;
          overflow-x: hidden;
          padding-top: 20px;
        }
        .filter_div{
 
         height: 400px;
       
          margin: auto;
          border: 1px solid rgb(180, 178, 178) 2px;
          overflow-x: hidden;
          width: 100%;
          scroll-snap-type: y mandatory;
        
           
        }
        .headding_f{
          text-align: center;
          border-bottom: 3px solid #fd3752 ;
          padding: 10px;
          box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
          position: sticky;
          width: 100%;
          z-index: 999;
          left: 0;
          overflow: hidden;
        }
        .property_div{
          left: 0;
        }
}

@media (max-width:992px) and (max-width:420px) {
      
  .sidebar {
    height: 100%;
    position: sticky;
    z-index: 1;
    top: 200px;
    left: 10px;
    overflow-x: hidden;
    padding-top: 20px;
  }
  .filter_div{

   height: 400px;
 
    margin: auto;
    border: 1px solid rgb(180, 178, 178) 2px;
    overflow-x: hidden;
    width: 100%;
    scroll-snap-type: y mandatory;
  
     
  }
  .headding_f{
    text-align: center;
    border-bottom: 3px solid #fd3752 ;
    padding: 10px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    position: sticky;
    width: 100%;
    z-index: 999;
    left: 0;
    overflow: hidden;
  }
  .property_div{
    left: 0;
  }
}


/* Rent Property
 */

 .head{
  border-bottom: 1px solid  rgba(213, 213, 213, 0.685);
  width: 100%;
  background-color: #f8f8f8;
  padding: 10px;
 }
 .head h6:hover{
  color: #fd3752;
  font-weight: bold;
  cursor: pointer;
 }

 .price {
  padding: 15px 10px;
  font-size: 15px;
 
  
 }
 .prop_img{
  background-color:#dadada;
  padding: 5px 5px 10px;
 }
 
 .p_detail{
  font-size:11px;
  border: 1px solid rgba(213, 213, 213, 0.685);
  margin: 2px;
 }
.amineties{
  border: 1px solid rgba(213, 213, 213, 0.685);
  margin: 2px;
}
 .amineties p{
   font-size: 11px;
 
 }
 .card-body
 {
  border: 2px solid rgba(213, 213, 213, 0.685);
  margin: 5px;
 }
 .carousel-item{top:5px}
 
 
.form-check 
input[type=checkbox]{
  appearance: none;
  padding: 6px;
  border: 2px solid #ccc;
  border-radius: 2px;
  margin-top: 2px;
  margin-left: -25px;

  line-height: normal;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
} 
.form-check p{
  font-size: 14px;
}
.p_btn{
  text-align: end;
}

.rate{
  border: 1px solid  rgba(213, 213, 213, 0.685); 
  margin:10px 18px 0px;
  padding: 10px 5px;
  cursor: pointer;
}



/* header ========== */










/* RESET RULES & HELPER CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --purple-1: #3d174f;
  --purple-2: #4b2860;
  --white: #fff;
  --black: #221f1f;
  --red: #ed1849;
  --lightgray: #cfcfcf;
  --overlay: rgba(0, 0, 0, 0.5);
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  /* font-size: 62.5%; */
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a,
button {
  color: inherit;
}

.no-transition {
  transition: none !important;
}

body {
  font: 1.6rem Roboto, sans-serif;
  color: var(--white);
  min-height: 100vh;
}





/* changes by abhishek */

.font1{
  color:white;
  text-transform:capitalize;
 
}
.font2{
  color:white;
  font-size: 16px;
  font-weight: normal;
  text-transform:capitalize;

}
.font3{
  color:white;
  font-size: 16px;
  font-weight: normal;
  text-transform:capitalize;
}
.pad{
  padding:13px;
}
.s button{
  border:none;
  background-color: #f02930;
  width:100%;
  color:white;
  font-weight: 700;
}
.center-bg{
 
    padding:5px;
     width: 100%;
     align-content:flex-start;
     margin-top: 20px;
     background-color:rgba(137, 135, 135, 0.553);
     border-radius: 5px;
   }



/* end changes by abhishek */
























/* HEADER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-header {
    position: relative;
    padding: 1.5rem 3rem;
    width: 100%;
    height: 150vh;
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #ccc;


}

 


.page-header::before {
      content: "";
      position: absolute;
      top: 0%;
      bottom: 0%;
      left: 0;
      right: 0;
      opacity: 0.3;
      z-index: -1;
      background: linear-gradient(to right, #0b0b0b7b 0%, #17181868 0%, #0b0b0b63 100%);
    }
.header-section {
      width: 100%;
      height:100%;
      text-align: center;
      position: relative;
      color: white;
    }

    .center-div {
      width: 80%;
      font-size: 35px;
      height: auto;
      position: absolute;
      top: 30%;
      left: 50%;
      
      text-align: center;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
    }
     .center-div p{
        font-size:15px;
         line-height: 2;
     }

     .center-div h1{
        font-family: "Nunito", Arial, sans-serif;
        font-size:55px;
         line-height: 1;
         font-weight: bolder;
     }

.page-header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.page-header .horizontal-logo,
.page-header .search span {
  display: none;
}

.page-header .vertical-logo {
  max-width: 9.5rem;
}

.page-header .top-menu-wrapper {
  color: var(--black);
}

.page-header .top-menu-wrapper::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: background 0.5s;
}

.page-header .search {
  color: var(--white);
}

.page-header .panel,
.page-header .top-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.page-header .panel1 {
  width: 100%;
 
  transition-delay: 0.3s;
}

.page-header .panel2 {
  width: calc(100% - 3rem);
 
  transition-delay: 0.1s;
}

.page-header .top-menu {
  display: flex;
  flex-direction: column;
  width: calc(100% - 6rem);
  overflow-y: auto;
  padding: 2rem;
  background: var(--white);
}

.page-header .top-menu-wrapper.show-offcanvas::before {
  background: var(--overlay);
  z-index: 1;
}

.page-header .top-menu-wrapper.show-offcanvas .panel,
.page-header .top-menu-wrapper.show-offcanvas .top-menu {
  transform: translate3d(0, 0, 0);
  transition-duration: 0.7s;
}

.page-header .top-menu-wrapper.show-offcanvas .panel1 {
  transition-delay: 0s;
}

.page-header .top-menu-wrapper.show-offcanvas .panel2 {
  transition-delay: 0.2s;
}

.page-header .top-menu-wrapper.show-offcanvas .top-menu {
  transition-delay: 0.4s;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 4rem 0.5rem;
}



/* HEADER end
–––––––––––––––––––––––––––––––––––––––––––––––––– */





/* FORM
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-header .search-form {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  padding: 1rem 0;
  background: var(--purple-2);
  transition: all 0.2s;
}

.page-header .search-form.is-visible {
  visibility: visible;
  opacity: 1;
}

.page-header .search-form div {
  position: relative;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.page-header .search-form input {
  width: 100%;
  font-size: 2rem;
  height: 4rem;
  padding: 0 2rem;
}

.page-header .search-form button {
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--purple-1);
}


/* TOP MENU
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-header .top-menu li + li {
  margin-top: 1.5rem;
}

.page-header .top-menu > li:last-child {
  margin-top: auto;
}

.page-header ul a {
  display: inline-block;
  font-size: 1.3rem;
  text-transform: uppercase;
  transition: color 0.35s ease-out;
}

.page-header ul a:hover {
  color: var(--red);
}

.page-header .has-dropdown i {
  display: none;
}

.page-header .sub-menu {
  padding: 1.5rem 2rem 0;
}

.page-header .top-menu .mob-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.page-header .top-menu .mob-block i {
  color: var(--lightgray);
}

.page-header .socials {
  display: flex;
  margin-top: 3rem;
  /* some browsers ignore the padding-bottom: 2rem of the .top-menu because it has overflow-y:auto
  https://bugzilla.mozilla.org/show_bug.cgi?id=748518
  so we add a bottom margin to the .socials
  */
  margin-bottom: 1rem; 
}

.page-header .socials li + li {
  margin-top: 0;
}

.page-header .socials .fa-stack {
  font-size: 1.7rem;
}

.page-header .socials .fab {
  font-size: 1.2rem;
}


/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 1.3rem;
  color: var(--black);
}

.page-footer span {
  color: #e31b23;
}


/* MQ
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 550px) {



  .page-header .panel1 {
    width: 60%;
  }
  .page-header .panel2 {
    width: calc(60% - 3rem);
  }
  .page-header .top-menu {
    width: calc(60% - 6rem);
  }
}

@media screen and (min-width: 768px) {




  .page-header .top-menu {
    padding: 4rem;
  }

  .page-header ul a {
    font-size: 1.6rem;
  }

  .page-header .search-form input {
    font-size: 2.4rem;
    height: 5rem;
    line-height: 5rem;
  }
}

@media screen and (min-width: 995px) {
  .page-header {
    padding: 0 3rem;
  }

  .page-header .panel,
  .page-header .open-mobile-menu,
  .page-header .vertical-logo,
  .page-header .top-menu .mob-block,
  .page-header .top-menu > li:last-child,
  .page-header .top-menu-wrapper::before {
    display: none;
  }

  .page-header .horizontal-logo {
    display: block;
  }

  .page-header .top-menu-wrapper {
    display: flex;
    align-items: center;
    color: var(--white);
  }

  .page-header .top-menu {
    flex-direction: row;
    position: static;
    width: auto;
    background: transparent;
    transform: none;
    padding: 0;
    overflow-y: visible;
    box-shadow: none !important;
  }

  .page-header .top-menu li + li {
    margin-top: 0;
  }

  .page-header .top-menu > li:not(:nth-last-child(2)) {
    margin-right: 3rem;
  }

  .page-header .top-menu > li > a {
    padding: 3rem 0.5rem;
  }

  .page-header ul a {
    font-size: 1.3rem;
  }

  .page-header .has-dropdown i {
    display: inline-block;
  }

  .page-header .sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 1.5rem 2rem;
    background: var(--purple-2);
  }

  .page-header .sub-menu li + li {
    margin-top: 1.2rem;
  }

  .page-header .sub-menu a {
    padding: 0.5rem 1rem;
    white-space: nowrap;
  }

  .page-header .has-dropdown {
    position: relative;
  }

  .page-header .has-dropdown:hover .sub-menu {
    display: block;
  }

  .page-header .search {
    display: flex;
    align-items: center;
    margin-left: 3rem;
  }
}

@media screen and (min-width: 1200px) {
  .page-header .search {
    margin-left: 5rem;
  }

  .page-header .search i {
    margin-right: 1.5rem;
  }

  .page-header .search span {
    display: block;
    font-weight: 500;
    font-size: 1.6rem;
  }
}



@media screen and (max-width: 768px) {

        .center-div{
            top:50%;
        }
        .center-div h1{
            font-size: 30px;
            line-height:45px;
        }
        .center-div p{
            margin-top: 10px;
            font-size: 15px;
             line-height:28px;
        }
        .page-header{
          background-size:cover;
          height: 100vh;
           
        }
        #section-control{
            margin-top: 10px!important;
        }
        .form-control{
            margin-top: 10px;
        }
}



/* change div  */

.rent {
    height: inherit;
    text-align: center;
    position: relative;
      
    position: absolute;
    top:55%;
 
    }



/* .tab {
  display: none;
} */
/* .tab {
  display: none;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  
} */
.form_div {
  background-color:#fff;  
}

#section-control {

  padding: 1rem 1rem 0 1rem;
  text-align: center;
  margin-top:10px;
}

.tab-control {
    /* width: 100px; */
  padding:1rem;
  margin: 0.5rem;
 border-radius: 5px;
  font-weight: 400;
  border: 1px  #fff;
  background-color: #fff;
  color: black;
  font-size: 14px;
}
.tab-control:hover {
  background-color:#ff5a5f;
  color:#fff ;
  cursor: pointer;
}


#section-tabs {
 padding: 10px;
  width: 100%;
  align-content:flex-start;
  margin-top:2px;
  background-color:rgba(241, 239, 239, 0.653);
  border-radius: 5px;
}

.btn-theme{
    color: #fff;
    background-color: #ff5a5f;
    border-color: #ff5a5f;
    border-radius: 4px;
    font-size:14px!important;
    padding:8px 20px 8px;
}
.form-control{
 padding: 15px 0.75rem!important;
 font-size: 14px;
}
.tab h4{
    color: black;
    padding-bottom: 5px;
}

.search{
    background-color: #fff;
    color:#ff5a5f!important;
    border-color: #ff5a5f;
    border-radius:50px;
    font-size:14px!important;
    padding:15px 20px 15px; 
}
.search:hover{
    background-color: #ff5a5f;
    color: #fff!important;
}


.header-nav{
  background-image: linear-gradient(rgba(21, 22, 22, 0.600), rgba(21, 22, 22, 0.600)),url(./images/slider1.jpg);;
}
